<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>authorizationFilter</filter-name>
        <filter-class>CAMPS.Admin.authorizationFilter</filter-class>
        <init-param>
            <param-name>avoid-urls</param-name>
            <param-value>welcomePage.jsp</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>authorizationFilter</filter-name>
        <url-pattern>/JSP/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>checkLogin</servlet-name>
        <servlet-class>CAMPS.Admin.authentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gSignIn</servlet-name>
        <servlet-class>CAMPS.Admin.gSignIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>CAMPS.Admin.logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>checkLogin</servlet-name>
        <url-pattern>/checkLogin</url-pattern>
    </servlet-mapping>
    <error-page>
        <location>/sample.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>gSignIn</servlet-name>
        <url-pattern>/gSignIn</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <error-page>
        <location>/sample.jsp</location>
    </error-page>
    <session-config>
        <session-timeout>
            30
        </session-timeout>       
    </session-config>
</web-app>
